<!DOCTYPE html>
<html lang="{{ currentLang }}">
<head>
  <!-- Title -->
  {% block page_title %} 
    <title>Moegui - DevOps - SecOps - TestOps</title>
  {% endblock %}

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Custom Meta Tags -->
  {% block meta_tags %} {% endblock %}

  <!-- Favicon -->
  <link rel="shortcut icon" href="@@autopath/favicon.ico">

  <!-- Font -->
  <link href="@@vars.googleFont" rel="stylesheet">

  {% block css_plugins %} {% endblock %}

  <!-- CSS Front Template -->
  <!-- bundlecss:theme [@@autopath] @@vars.version -->
  <link rel="stylesheet" href="@@autopath/assets/css/theme.css">
</head>
<body>
  {% block content %} {% endblock %}

  <!-- JS Global Compulsory @@deleteLine:build -->
  <script src="@@autopath/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="@@autopath/node_modules/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="@@autopath/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  {% block js_plugins %} {% endblock %}

  <!-- IE Support -->
  <script>
    if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="@@autopath/node_modules/babel-polyfill/dist/polyfill.js"><\/script>');
  </script>
</body>
</html>