{% extends "./partials/layout.html" %}

{% block page_title %} 
  <title>{{ marketplace.page__title }}</title>
{% endblock %}

{% block css_plugins %}
  <!-- CSS Implementing Plugins -->
  <!-- bundlecss:vendor [@@autopath] -->
  <link rel="stylesheet" href="@@autopath/assets/vendor/fontawesome/css/all.min.css"> <!-- General --> {# Content.FontAwesome #}
  <link rel="stylesheet" href="@@autopath/assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.css"> <!-- Header --> {# HSLibraries.HeaderMegaMenu #}
{% endblock %}

{% block content %}
  {% include "./partials/header.html" %}

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- Hero Section --> {# Hero.Component#29 #}
    <div class="container space-top-3">
      <div class="row align-items-lg-center">
        <div class="col-lg-5 mb-7 mb-lg-0">
          <div class="mb-4">
            <h1>{{ marketplace.hero__title }}</h1>
            <p>{{ marketplace.hero__description }}</p>
          </div>

          <!-- Search Form -->
          <form id="searchForm" class="d-flex align-items-center">
            <label class="sr-only" for="search">{{ marketplace.hero__input_search }}</label>
            <div class="d-inline-block w-75 mr-2">
              <input type="text" class="form-control" name="search" id="search" placeholder="{{ marketplace.hero__input_search }}" aria-label="{{ marketplace.hero__input_search }}" required>
            </div>
            <button type="submit" class="btn btn-primary">
              <span class="fas fa-search"></span>
            </button>
          </form>
          <!-- End Search Form -->
        </div>

        <div class="col-lg-7">
          <img class="img-fluid" src="@@autopath/assets/svg/illustrations/we-are-in-office-1.svg">
        </div>
      </div>
    </div>
    <!-- End Hero Section -->

    <!-- Products Section --> {# SidebarExamples.Component#6 #}
    <div id="products" class="container space-top-2 space-bottom-2 space-bottom-lg-3">
      <div class="row">
        <div class="col-lg-3 mb-5 mb-lg-0">
          <div class="mr-lg-3">
            <!-- Navbar -->
            <div class="navbar-expand-lg navbar-expand-lg-collapse-block navbar-light">
              <!-- Responsive Toggle Button -->
              <button type="button" class="navbar-toggler btn btn-block border py-3"
                      aria-label="Toggle navigation"
                      aria-expanded="false"
                      aria-controls="sidebarNav"
                      data-toggle="collapse"
                      data-target="#sidebarNav">
                <span class="d-flex justify-content-between align-items-center">
                  <span class="h5 mb-0">{{ marketplace.sidebar__categories }}</span>
                  <span class="navbar-toggler-default">
                    <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                      <path fill="currentColor" d="M17.4,6.2H0.6C0.3,6.2,0,5.9,0,5.5V4.1c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,5.9,17.7,6.2,17.4,6.2z M17.4,14.1H0.6c-0.3,0-0.6-0.3-0.6-0.7V12c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,13.7,17.7,14.1,17.4,14.1z"/>
                    </svg>
                  </span>
                  <span class="navbar-toggler-toggled">
                    <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                      <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
                    </svg>
                  </span>
                </span>
              </button>
              <!-- End Responsive Toggle Button -->

              <!-- Nav Links -->
              <nav id="sidebarNav" class="collapse navbar-collapse">
                <div class="p-2 p-lg-0">
                  <div class="mt-3 mt-lg-0">
                    <h2 class="h4">{{ marketplace.sidebar__explore_title }}</h2>

                    <div id="explore">
                      {# Nav links inyected by Javascript #}
                    </div>
                  </div>

                  <div class="mt-5">
                    <h3 class="h4 d-sm-none d-md-block">{{ marketplace.sidebar__categories_title }}</h3>

                    <div id="categories">
                      {# Nav links inyected by Javascript #}
                    </div>
                  </div>
                </div>
              </nav>
              <!-- End Nav Links -->
            </div>
            <!-- End Navbar -->
          </div>
        </div>

        <div class="col-lg-9 column-divider-lg">
          <div id="productsContainer" class="row ml-lg-2">
            {# Products inyected by Javascript #}
          </div>
        </div>
      </div>
    </div>
    <!-- End Apps Section -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->

  {% include "./partials/footer.html" %}

  {% include "./partials/go-to.html" %}
{% endblock %}

{% block js_plugins %}
  <!-- JS Implementing Plugins -->
  <!-- bundlejs:vendor [@@autopath] -->
  <script src="@@autopath/assets/vendor/hs-header/dist/hs-header.min.js"></script> <!-- Header --> {# HSLibraries.Headers #}
  <script src="@@autopath/assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.js"></script> <!-- Header --> {# HSLibraries.HeaderMegaMenu #}
  <script src="@@autopath/assets/vendor/hs-unfold/dist/hs-unfold.min.js"></script> <!-- Footer --> {# OtherLibraries.Unfold #}
  <script src="@@autopath/assets/vendor/hs-go-to/dist/hs-go-to.min.js"></script> <!-- Go-to --> {# HSLibraries.Go-to #}

  <!-- JS Front -->
  <!-- bundlejs:theme [@@autopath] -->
  <script src="@@autopath/assets/js/hs.core.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // INITIALIZATION OF HEADER
      // =======================================================
      var header = new HSHeader($('#header')).init();

      // INITIALIZATION OF MEGA MENU
      // =======================================================
      var megaMenu = new HSMegaMenu($('.js-mega-menu')).init();

      // INITIALIZATION OF UNFOLD
      // =======================================================
      var unfold = new HSUnfold('.js-hs-unfold-invoker').init();

      // INITIALIZATION OF GO TO
      // =======================================================
      $('.js-go-to').each(function () {
        var goTo = new HSGoTo($(this)).init();
      });
    });
  </script>

  <!-- JS Custom -->
  <script>
    /* ------------------------------------------------------------ */
    /* --------------------- GLOBAL VARIABLES --------------------- */
    /* ------------------------------------------------------------ */

    const $navbarExplore = document.getElementById("explore");
    const $navbarCategories = document.getElementById("categories");
    const $productsContainer = document.getElementById("productsContainer");

    const dataProducts = getProducts();
    const dataCategories = getCategories();

    /* ------------------------------------------------------------ */
    /* -------------- GLOBAL MANAGEMENT OF DATA LOAD -------------- */
    /* ------------------------------------------------------------ */

    loadData({
      categories: true,
      products: true
    })

    function loadData(data = {}){
      if(data.categories){
        let generalCategories = dataCategories.filter(category => category.explore === false)
        generalCategories.sort((a, b) => (a.name > b.name) ? 1 : -1);

        let exploreCategories = dataCategories.filter(category => category.explore === true)
        exploreCategories.unshift({ name: 'All', explore: true })

        let navbarCategoriesTemplate = createTemplateHTML(generalCategories, $navbarCategories);
        let navbarExploreTemplate = createTemplateHTML(exploreCategories, $navbarExplore);

        $navbarCategories.innerHTML = navbarCategoriesTemplate;
        $navbarExplore.innerHTML = navbarExploreTemplate;
      }

      if(data.products){
        if(!data.category && !data.search){
          let exploreCategories = dataCategories.filter(category => category.explore === true)
          let productsByExploreCategories = getProductsByCategories(exploreCategories)

          let templateHTML = createTemplateHTML(productsByExploreCategories, $productsContainer);
          $productsContainer.innerHTML = templateHTML;

          let $buttonsViewAll = Array.from(document.getElementsByClassName('view-all'));
          $buttonsViewAll.map($button => $button.addEventListener('click', () => toggleAllProducts($button)));
        }
        
        if(data.category){
          let productsByCategory = [{
            category: data.category,
            products: getProductsByCategory(data.category) 
          }];
          
          let templateHTML = createTemplateHTML(productsByCategory, $productsContainer);
          $productsContainer.innerHTML = templateHTML;
        }
        
        if(data.search){
          productsBySearch = [{
            search: data.search,
            products: []
          }];
          dataProducts.map(product => {
            let productName = product.name.toLowerCase();
            if(productName.includes(data.search.toLowerCase())) productsBySearch[0].products.push(product);
          });
      
          let templateHTML = createTemplateHTML(productsBySearch, $productsContainer);
          $productsContainer.innerHTML = templateHTML;

          let $closeSearchButton = document.getElementById('closeSearchButton');
          $closeSearchButton.addEventListener('click', () => loadData({ products: true }));

          window.location.href = '#products'
        }
      }
    }

    /* ------------------------------------------------------------ */
    /* ---------- FUNCTIONS IN CHARGE OF DATA COLLECTION ---------- */
    /* ------------------------------------------------------------ */

    function getProducts(){
      return {{ marketplace_product.products | dump | safe }}
    }

    function getCategories(){
      let exploreCategories = {{ marketplace.sidebar__explore_categories | dump | safe }}

      let categories = [];
      dataProducts.map(product => {
        product.categories.map(category => {
          if (!categories.some(element => element.name == category)) {
            categories.push({
              name: category,
              explore: exploreCategories.includes(category) ? true : false
            });
          }
        })
      });

      return categories;
    }

    function getProductsByCategory(category) {
      let productsByCategory = [];
      
      dataProducts.map(product => {
        if (product.categories.includes(category)) productsByCategory.push(product)
      })

      return productsByCategory;
    }

    function getProductsByCategories(categories) {
      let productsByCategories = [];

      categories.map(category => {
        let productsByCategory = []
        dataProducts.map(product => {
          if (product.categories.includes(category.name)) productsByCategory.push(product)
        })

        if(productsByCategory.length >= 1){
          productsByCategories.push({
            category: category.name,
            products: productsByCategory
          })
        }
      })

      return productsByCategories;
    }

    /* ------------------------------------------------------------ */
    /* --------- CREATION OF THE DIFFERENT HTML TEMPLATES --------- */
    /* ------------------------------------------------------------ */
    
    function createTemplateHTML(data, $container) {
      let templateHTML = "";

      switch ($container) {
        // Navbar Links Template
        case $navbarExplore:
        case $navbarCategories:
          data.map(category => {
            let productsByCategory = getProductsByCategory(category.name);
            if(productsByCategory.length >= 1 || category.name == 'All'){
              templateHTML += `
              <button class="btn btn-link font-weight-normal dropdown-item d-flex justify-content-between align-items-center px-0 category-filter" data-category="${category.name}">
                ${category.name} <span class="badge border badge-pill">${category.name == 'All' ? dataProducts.length : productsByCategory.length}</span>
              </button>`;
            }
          })
          break;
        // Products Template
        case $productsContainer:
          data.map((productsByCategory, index) => {
            if(productsByCategory.search){
              templateHTML += `
              <!-- Search Title -->
              <div class="col-12 d-flex justify-content-between align-items-center">
                <h3 class="mb-0">${productsByCategory.products.length} Results <small class="text-body">for "${productsByCategory.search}"</small></h3>
                <button id="closeSearchButton" class="btn btn-link font-size-1 p-0">
                  {{marketplace.products__button_close_search}} <i class='fas fa-times fa-sm ml-1'></i>
                </button>
              </div>
              <!-- End Search Title -->`;
            }else{
              templateHTML += `
              <!-- Title -->
              <div class="col-12 d-flex justify-content-between align-items-center px-2 ${index > 0 ? 'mt-7' : ''} category-title">
                <h3 class="mb-0">${productsByCategory.category}</h3>
                ${data.length > 1 && productsByCategory.products.length > 3 ?
                `<button class="btn btn-link font-size-1 p-0 view-all" data-category="${productsByCategory.category}" data-active="false">
                  <span>{{marketplace.products__button_view_all}}</span> <i class='fas fa-angle-right fa-sm ml-1'></i>
                </button>` : ''}
              </div>
              <!-- End Title -->`;
            }
            
            productsByCategory.products.sort((a, b) => (a.name > b.name) ? 1 : -1);
            productsByCategory.products.map((product, index) => {
              templateHTML += `
              <div class="col-sm-6 col-md-4 px-2 mt-3 ${data.length > 1 && index >= 3 ? 'd-none' : ''} product" data-product="${product.name}" data-category="${productsByCategory.category}">
                <!-- Card -->
                <a class="card card-frame h-100" href="./${product.page.file_name}">
                  <div class="card-header bg-light text-center rounded-top py-4">
                    <div class="avatar avatar-lg d-block rounded p-2 mx-auto">
                      <img class="avatar-img" src="${product.image}" alt="Image Description">
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="d-flex align-items-center mb-1">
                      <span class="d-block text-dark font-weight-bold mb-1">${product.name}</span>
                    </div>
                    <span class="d-block text-body font-size-1">${product.description}</span>
                  </div>
                </a>
                <!-- End Card -->
              </div>`;
            });
          })
          break;
      }

      return templateHTML;
    }

    /* ------------------------------------------------------------ */
    /* -------------- "VIEW ALL" LINKS FUNCTIONALITY -------------- */
    /* ------------------------------------------------------------ */

    function toggleAllProducts($button){
      let category = $button.dataset.category
      let $productsByCategory = Array.from(document.querySelectorAll(`.product[data-category='${category}']`))
      
      if ($button.dataset.active == 'false'){
        $productsByCategory.map($product => {
          $product.classList.remove('d-none');
        });

        $button.dataset.active = true;
        $button.querySelector("span").innerHTML = '{{ marketplace.products__button_view_all__clicked }}';
      }else{
        $productsByCategory.map(($product, index) => {
          if(index >= 3) $product.classList.add('d-none')
        });
        
        $button.dataset.active = false;
        $button.querySelector("span").innerHTML = '{{ marketplace.products__button_view_all }}';
      }
    }

    /* ------------------------------------------------------------ */
    /* ------------- "CATEGORIES" LINKS FUNCTIONALITY ------------- */
    /* ------------------------------------------------------------ */

    var $categoriesLinks = Array.from(document.getElementsByClassName('category-filter'));
    $categoriesLinks.map($filter => $filter.addEventListener('click', () => showProductsByCategory($filter)));

    function showProductsByCategory($filter){
      let category = $filter.dataset.category;

      if(category == 'All') {
        loadData({ products: true });
      }else{
        loadData({
          products: true,
          category: category
        })
      }
    }

    /* ------------------------------------------------------------ */
    /* --------------- "SEARCH" INPUT FUNCTIONALITY --------------- */
    /* ------------------------------------------------------------ */

    const $searchForm = document.getElementById('searchForm');
    $searchForm.addEventListener('submit', searchProduct)

    function searchProduct(e){
      e.preventDefault();

      searchActivated = true;
      let currentSearch = new FormData($searchForm).get('search');

      loadData({
        products: true,
        search: currentSearch
      })
    }
  </script>

  {% from "./partials/footer.html" import footerLanguageScript with context %}
  {{ footerLanguageScript() }}
{% endblock %}